.menu {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: rgb(201, 68, 94);
}

.menu .logo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin: 0.6rem;
}

.menu ul {
    margin: 0%;
    padding: 0%;
    padding-top: 0.2rem;
    display: inherit;
}

.menu li {
    text-decoration: none;
    padding: 1rem 0.8rem; 
}

.menu li:hover {
    opacity: 0.2;
}

.menu a {
    color: white;
    text-decoration: none;
}

.border {
    border: solid black 0.2px;
    height: 60%;
    margin-top: 0.5rem;
}
